<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--解释foreach标签
    collection: 集合名称，这里是 exprList
    item: 集合中的每个元素，这里是 expr
    separator: 每个元素之间的分隔符，这里是逗号
-->

<mapper namespace="com.azhuo.mapper.ClazzMapper">
    <!-- 分页查询班级 -->
    <select id="list" resultType="com.azhuo.pojo.Clazz">
        SELECT c.* FROM clazz AS c
        LEFT JOIN emp AS e ON c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                c.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="begin != null and end != null">
                AND c.end_date BETWEEN #{begin} AND #{end}
            </if>
        </where>
        ORDER BY c.update_time DESC
    </select>

    <!-- 新增班级 -->
    <insert id="insert" parameterType="com.azhuo.pojo.Clazz">
        INSERT INTO clazz
            (name, room, begin_date, end_date, master_id, subject, create_time, update_time)
        VALUES
            (#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{subject}, #{createTime}, #{updateTime})
    </insert>

    <!-- 根据ID查询班级 -->
    <select id="getById" resultType="com.azhuo.pojo.Clazz">
        SELECT * FROM clazz WHERE id = #{id}
    </select>

    <!-- 修改班级 -->
    <update id="update" parameterType="com.azhuo.pojo.Clazz">
        UPDATE clazz
        SET name = #{name}, room = #{room}, begin_date = #{beginDate}, end_date = #{endDate}, master_id = #{masterId}, subject = #{subject}, update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <!-- 根据班级ID查询班级下的学生数量 -->
    <select id="countStudentByClazzId" resultType="int">
        SELECT COUNT(*) FROM student WHERE clazz_id = #{id}
    </select>

    <!-- 根据ID删除班级 -->
    <delete id="deleteById">
        DELETE FROM clazz WHERE id = #{id}
    </delete>
</mapper>