<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--解释foreach标签
    collection: 集合名称，这里是 exprList
    item: 集合中的每个元素，这里是 expr
    separator: 每个元素之间的分隔符，这里是逗号
-->

<mapper namespace="com.azhuo.mapper.ClazzMapper">
    <!-- 分页查询班级 -->
    <select id="list" resultType="com.azhuo.pojo.Clazz">
        SELECT c.* FROM clazz AS c
        LEFT JOIN emp AS e ON c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                c.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="begin != null and end != null">
                AND c.end_date BETWEEN #{begin} AND #{end}
            </if>
        </where>
        ORDER BY c.update_time DESC
    </select>
</mapper>